<div class="page-header">
  <h1>Welcome to noembed.rb</h1>
</div>
<p class="lead">
  This is a reimplementation of
  <a href="https://noembed.com">noembed.com</a>
  using <a href="https://ruby-lang.org">Ruby</a>.
</p>

<p>
  It builds on
  <a href="https://github.com/judofyr/ruby-oembed">ruby-oembed</a>
  and <a href="http://www.sinatrarb.com">Sinatra</a>.
  You may find more infomation on the <a
  href="https://github.com/schmidt/noembed.rb">noembed.rb GitHub
  page</a>.
</p>
